:root {
  --text-color: #252a2b;
  --primary-color: #c4123f;
  --bg-color: #f7f7f7;
  --white-color: #ffffff;
  --red-color: #ff0000;

  // Setting page
  --max-w-page: 2560px;
  --max-w-container-fluid: 1920px;
  --w-container: 1198px;
  --p-container: 28px;
  --gap: 26px;
  --max-w-container: calc(var(--w-container) + var(--p-container) * 2);

  --h-header: 102px;

  // Typography
  --fs-body: 1.4rem;
  --lh-body: 1.45;

  --fs-small: 1.2rem;
  --lh-small: 1.74rem;

  --fs-13: 1.3rem;
  --lh-18: 1.8rem;

  --lh-15: 1.5rem;
  --lh-20: 2rem;

  // Button
  // Large
  --py-button-lg: 12px;
  --px-button-lg: 20px;
  // Medium
  --py-button-md: 10px;
  --px-button-md: 24px;
  // Small
  --py-button-sm: 8px;
  --px-button-sm: 16px;

  // Transition
  --transition-duration: 1s;

  @include md {
    --w-container: 1140px;
  }

  @include sm {
    --w-container: 960px;
  }

  @include xs {
    --w-container: 100%;
    --p-container: 16px;
    --gap: 16px;
  }
}
