@import '../../../styles/core/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: var(--h-header);
  padding: 20px 0;
  background-color: var(--primary-color);

  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__left {
    display: flex;
    align-items: center;
    column-gap: 12px;

    &-hamburger {
      position: relative;
      display: none;
      @include size(24px, 18px);
      background-color: transparent;

      span {
        @include mid();
        display: block;
        background-color: var(--white-color);
        opacity: 1;
        @include size(100%, 2px);
        @include transition(opacity var(--transition-duration));
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-color: var(--white-color);
        @include size(18px, 2px);
        @include transition(transform var(--transition-duration));
        will-change: transform;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        @include size(18px, 2px);
        background-color: var(--white-color);
        @include transition(transform var(--transition-duration));
        will-change: transform;
      }

      // Active nav mobile
      &.--close {
        span {
          opacity: 0;
        }

        &::before {
          @include transform(rotate(45deg) translate(6px, 3px));
        }

        &::after {
          @include transform(rotate(-45deg) translate(8px, -5px));
        }
      }
    }

    &-logo {
      display: flex;
      flex-shrink: 0;
    }
  }

  &__middle {
    position: relative;
    width: 680px;

    &-search {
      position: relative;

      .search-input {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        gap: 30px;
        height: 40px;
        max-width: 100%;
        overflow-x: hidden;
        padding-left: 16px;
        border-radius: 4px;
        background-color: var(--white-color);

        input {
          height: 100%;
          width: 100%;
          outline: none;
          font-family: var(--font-quicksan);
          color: var(--text-color);

          &::placeholder {
            font-family: var(--font-quicksan);
            color: var(--text-color);
            opacity: 0.8;
          }
        }

        .btn-search {
          position: absolute;
          right: 3px;
          top: 4px;
          bottom: 4px;
          height: 32px;
        }
      }

      &:hover {
        .products {
          display: block;
        }
      }

      // Search results
      .products {
        position: absolute;
        top: 104%;
        left: 0;
        right: 0;
        z-index: 51;
        display: none;
        padding: 0 20px;
        background-color: var(--white-color);

        &::before {
          content: '';
          position: absolute;
          top: -6px;
          left: 0;
          display: block;
          width: 100%;
          height: 24px;
          background-color: transparent;
        }

        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 12px 0;
          border-bottom: 1px solid #ececec;

          &-content {
            .name {
              font-size: var(--fs-13);
              color: var(--text-color);
              @include transition(color var(--transition-duration));

              &:hover {
                color: var(--primary-color);
              }
            }

            .price {
              margin-top: 6px;
              font-size: var(--fs-small);
              line-height: var(--lh-15);
              font-weight: 500;
            }
          }

          &-thumb {
            display: flex;
            overflow: hidden;
            aspect-ratio: 40/40;

            img {
              @include mid-img();
            }
          }
        }

        &__more {
          width: 100%;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    &-services {
      display: flex;
      align-items: center;
      gap: 18px;
      margin-top: 12px;

      .item {
        display: flex;
        align-items: center;
        gap: 8px;

        p {
          color: var(--white-color);
          font-size: var(--fs-small);
          line-height: var(--lh-small);
        }

        &__icon {
          @include size(25px, 20px);
        }
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 13px;

      p {
        color: var(--white-color);
        font-size: var(--fs-13);
        line-height: var(--lh-18);
      }

      // Divider
      &:first-child::after,
      &:first-child::before {
        position: absolute;
        top: 50%;
        content: '';
        display: block;
        @include size(1px, 40px);
        @include transform(translateY(-50%));
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:first-child::before {
        left: 0;
      }

      &:first-child::after {
        right: 0;
      }

      .badge {
        position: relative;
        display: flex;

        &__count {
          position: absolute;
          right: -8px;
          top: -6px;
          border-radius: 50%;
          color: var(--white-color);
          background-color: var(--red-color);
          @include mid(true);
          @include size(20px, 20px);
        }
      }
    }
  }

  @include md {
    &__middle {
      &-services {
        display: none;
      }
    }
  }

  @include sm {
    &__left {
      &-hamburger {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }

    &__middle {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding: 6px 28px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--primary-color);

      &-search {
        .search-input {
          padding-right: 0;
          padding-top: 0;
          padding-bottom: 0;
          border-radius: 16px;
          max-width: 100%;

          .btn-search {
            position: initial;
            height: 100%;
            background-color: var(--white-color);

            .search-icon {
              color: var(--text-color);
              opacity: 0.8;
            }
          }
        }
      }
    }

    &__cta {
      &-item {
        &:first-child::before,
        &:first-child::after {
          display: none;
        }

        p {
          display: none;
        }
      }
    }
  }

  @include xs {
    &__middle {
      padding: 6px 16px;
    }
  }
}
