@import '../../../styles/core/mixins';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  @include transition(all var(--transition-duration));

  // Color
  &.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &.btn--white {
    background-color: var(--white-color);
    color: var(--text-color);
  }

  // Size
  &.btn--lg {
    padding: var(--py-button-lg) var(--px-button-lg);
  }

  &.btn--md {
    padding: var(--py-button-md) var(--px-button-md);
  }

  &.btn--sm {
    padding: var(--py-button-sm) var(--px-button-sm);
  }
}
